@charset 'utf-8';

body {
    background-color: rgb(201, 235, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(11, 71, 11)
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(24, 128, 24)
}

.basico {
    color: green;
    font-weight: bold;
}


.intermediario {
    color: blue;
    font-weight: bold;
}

.avancado {
    color: red;
    font-weight: bold;
}